# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Database
*.db
*.sqlite3

# Env files
.env

# Git
.git
.gitignore

# OS files
.DS_Store
Thumbs.db

# Docker
Dockerfile

venv/
.env/
node_modules/
*.pdf
*.zip
*.png
*.jpg
data/
logs/